PORT=4100
MONGO_URI=mongodb://127.0.0.1:27017/kiyim_dokon_sklad
JWT_SECRET=kiyim_dokon_sklad_secret_2026
DEFAULT_USD_RATE=12600
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=0000
DEFAULT_ADMIN_FULL_NAME=Sklad Admin
